###############################################################################################################
# Project Leonardo - Manual Filament Load/Purge Helpers
#
# These macros are meant for filament runout recovery.
#
# Workflow:
# 1. Runout happens and printer pauses/parks.
# 2. Insert filament through the sensor and into the extruder.
# 3. Run LOAD_FILAMENT_PURGE from Mainsail.
# 4. Remove the blob/string from the nozzle with tweezers.
# 5. Press RESUME.
#
# This avoids automatic mid-air poop dragging back into the print.
###############################################################################################################

[gcode_macro LOAD_FILAMENT_PURGE]
description: Manually purge filament at parked position after runout. Remove blob before RESUME.
gcode:
  SAVE_GCODE_STATE NAME=LOAD_FILAMENT_PURGE_STATE
  M83
  G92 E0
  RESPOND TYPE=command MSG="Manual purge: extruding filament. Remove blob before RESUME."
  G1 E20 F300
  G1 E5 F180
  G1 E-0.8 F1800
  G92 E0
  RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_PURGE_STATE

[gcode_macro LOAD_FILAMENT_PURGE_SMALL]
description: Small manual purge after runout reload
gcode:
  SAVE_GCODE_STATE NAME=LOAD_FILAMENT_PURGE_SMALL_STATE
  M83
  G92 E0
  RESPOND TYPE=command MSG="Small manual purge. Remove blob before RESUME."
  G1 E8 F240
  G1 E-0.5 F1800
  G92 E0
  RESTORE_GCODE_STATE NAME=LOAD_FILAMENT_PURGE_SMALL_STATE
