###############################################################################################################
# Project Leonardo - Runout Resume Purge
#
# Purpose:
# When a filament runout pause happens, this macro re-primes the nozzle before RESUME returns to the print.
#
# This file is safe to include from printer.cfg:
#   [include runout_resume_purge.cfg]
#
# Mainsail's RESUME macro will call this through:
#   variable_user_resume_macro: "_RUNOUT_RESUME_PURGE"
###############################################################################################################

[gcode_macro _RUNOUT_RESUME_PURGE]
description: Re-prime nozzle after filament runout before returning to print
gcode:
  SAVE_GCODE_STATE NAME=RUNOUT_RESUME_PURGE_STATE

  M83
  G92 E0

  RESPOND TYPE=command MSG="Runout resume: re-priming nozzle before returning to print"

  ; Slow prime to rebuild pressure after reload
  G1 E18 F300

  ; Small extra push to make sure the melt zone is packed
  G1 E2 F180

  ; Tiny retract to cut the string before returning to the print
  G1 E-0.8 F1800

  G92 E0
  RESTORE_GCODE_STATE NAME=RUNOUT_RESUME_PURGE_STATE
